{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

{% if post.collection == 'teaching' %}
  <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
{% elsif post.collection == 'publications' %}
  <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
{% elsif post.collection == 'currentwork' %}
  <p>Status: <i>{{ post.status }}</i></p>
{% endif %}


{% if post.collection == 'teaching' %}
  <p>With: {{ post.coauthor }}</p>
{% elsif post.collection == 'publications' %}
  <p>With: {{ post.coauthor }}</p>
{% elsif post.collection == 'currentwork' %}
  <p>With: {{ post.coauthor }}</p>
{% endif %}


<div class="btn-container">
    {% if post.paperurl %}
    <a href="{{ post.paperurl }}" >[Link to Paper]</a>
  {% endif %}
      {% if post.pdf %}
    <a href="{{ post.pdf }}" >[Download PDF]</a>
  {% endif %}
    {% if post.code %}
    <a href="{{ post.code }}" >[Code & Data]</a>
  {% endif %}
  {% if post.poster %}
    <strong><a href="{{ base_path }}/files/poster/{{ post.poster }}" class="btn btn--article">Poster</a></strong>
  {% endif %}
  {% if post.slides %}
    <strong><a href="{{ base_path }}/files/slides/{{ post.slides }}" class="btn btn--article">Slides</a></strong>
  {% endif %}      
  {% if post.data %}
    <strong><a href="{{ post.data }}" class="btn btn--article">Data</a></strong>
  {% endif %}
  {% if post.bibtex %}
    <strong><a href="{{ base_path }}/files/{{ post.bibtex }}" class="btn btn--article">BibTeX</a></strong>
  {% endif %}
</div>


<div class="abstract-toggle">
  <input type="checkbox" id="abstract-toggle-{{ post.id }}" class="show-abstract-checkbox">
  <label for="abstract-toggle-{{ post.id }}" class="show-abstract-label">[Abstract]<span class="toggle-icon">&#9660;</span></label>
  <div class="abstract">
    {{ post.abstract | markdownify }}
  </div>
</div>





    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% endif %}
